/LocalStuff
/src/OLD
/src/CodeQAP
/*.o
/*.a
/?.c
/?
/src/*.tar.gz
/src/all-interval
/src/alpha
/src/costas
/src/queens
/src/perfect-square
/src/langford
/src/magic-square
/src/partit
/src/C17-a
/src/C17-b
/src/C18-a
/src/C18-b
/src/C19
/src/C20
/src/COSTAS
/src/ALL-INTERVAL.TXT
/src/CELL.TXT
/src/COSTAS-CELL
/src/qap
/src/tools.c1
/src/z16
/src/z17
/src/z18
/src/z19
/src/z20
/src/random.c
