/LocalStuff
/src/LocalStuff
/src/OLD
/src/CodeQAP
/*.o
/*.a
/?.c
/?
/src/*.tar.gz
/src/all-interval
/src/alpha
/src/costas
/src/langford
/src/magic-square
/src/partit
/src/perfect-square
/src/qap
/src/queens
/src/COSTAS
/src/ALL-INTERVAL.TXT
/src/CELL.TXT
/src/COSTAS-CELL
